@font-face {
  font-family: "Yeseva One";
  src: url("./fonts/YesevaOne-Regular.ttf");
}

@font-face {
  font-family: "Nunito - Sans";
  src: url("./fonts/NunitoSans-Regular.ttf");
}

.project {
  background-color: black;
  max-width: 1440px;
  height: 1000px;
}

.container {
  padding-top: 107px;
}

.menu {
  list-style: none;
  padding: 0;
  margin-left: 600px;
  display: flex;
}

.menu li {
  margin-right: 16px;
}

.menu li:last-child {
  margin-right: 5px;
}

.menu li a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}

.rostov {
  color: #e3b873;
}

.completed_projects {
  color: #e3b873;
  text-transform: uppercase;
  margin-left: 10px;
  padding-top: 150px;
  font-size: 27px;
  position: absolute;
  top: -10px;
  left: 100px;
}

.description {
  color: #ffffff;
  margin-left: 104px;
  line-height: 27px;
  font-size: 14px;
  position: absolute;
  top: 236px;
  left: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  width: 470px;
  position: absolute;
  top: 340px;
  left: 10px;
}

.grid-item {
  margin-left: 104px;
  color: #ffffff;
}

.main {
  text-transform: uppercase;
  font-size: 18px;
  color: #e3b873;
  line-height: 24px;
}

.image {
  background-image: url("./img/image 2.1.png");
  background-size: cover;
  width: 679px;
  height: 482px;
  margin-left: 570px;
  justify-content: center;
  align-items: center;
}

.slider {
  margin-left: 100px;
}

.arrow,
.dot {
  margin: 0 5px;
  cursor: pointer;
}

.description {
  margin-top: 20px;
}

.menu li a.active {
  font-weight: bold;
  color: #e3b873;
}
